        body {
            width: 99.5%;
            background-image: url(../img/page5/background.jpeg);
            font-family: 'Noto Sans TC', sans-serif;
            color: #990000;
        }

        #left {
            width: 25%;
            height: 100%;
            float: left;
        }

        #middle {
            width: 65%;
            height: 100%;
            float: left;
        }

        #logo {
            float: left;
            width: 85%;
            vertical-align: middle;
            padding-top: 10%;
            padding-left: 15%;
            filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
        }

        .sakura {
            width: 10%;
            padding-right: 3%;
            padding-left: 8%;
        }

        .left_title {
            padding-top: 15%;
            padding-left: 20%;
            float: left;
        }

        .little_title {
            width: 55%;
        }

        #home_page {
            font-size: 2em;
            float: left;
            margin-left: 40%;
            margin-top: 42%;
            color: #990000;
        }

        #home_page:hover {
            color: black;
            text-decoration: underline;
            cursor: pointer;
        }

        #imgTurn_all {
            width: 100%;
        }

        #imgTurn_menu {
            position: relative;
            top: -82;
            right: -13%;
            width: 15%;
        }

        #pictureTurn {
            padding: 3% 12%;
            width: 76%;
        }

        #imgTurn_menu img {
            cursor: pointer;
            width: 22%;
        }

        #paper1 {
            float: left;
            height: 42%;
            width: 36%;
            margin-left: 11.5%;
            margin-right: 2%;
            background-color: white;
            border-width: 2px;
            border-style: dotted;
            border-color: #990000;
        }

        #paper2 {
            float: left;
            height: 42%;
            width: 36%;
            margin-left: 2%;
            background-color: white;
            border-width: 2px;
            border-style: dotted;
            border-color: #990000;
        }

        h1 {
            text-align: center;
        }

        p {
            padding-left: 8%;
        }

        #copyright {
            width: 96.7%;
            padding: 0.2em;
            text-align: center;
            float: left;
            margin-top: 1%;
        }

        a {
            color: #990000;
        }

        a:hover {
            color: black;
        }

        .dessert {
            padding-left: 20%;
        }

        .desName {
            margin: 4%;
            position: relative;
            top: -40;
        }